.sidenav a{
    position: absolute;
    left: -75px;
    transition: 0.5s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
    color: white;
}

.sidenav a:hover{
    left: 0px;
}

#first{
    top: 20px;
    background-color: green;
}

#second{
    top: 100px;
    background-color: blue;
}

#third{
    top: 180px;
    background-color: red;
}

#fourth{
    top: 260px;
    background-color: grey;
}